In [90]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [91]:
data = pd.read_csv('C:/Users/DNS/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1153,tt0313542,60000000,80154140,Runaway Jury,John Cusack|Gene Hackman|Dustin Hoffman|Rachel...,Gary Fleder,Trials are too important to be decided by juries.,A juror on the inside and a woman on the outsi...,127,Drama|Thriller,Regency Enterprises|Epsilon Motion Pictures|Ne...,10/9/2003,6.8,2003
701,tt0412536,20000000,13204291,Brideshead Revisited,Matthew Goode|Ben Whishaw|Hayley Atwell|Emma T...,Julian Jarrold,Every temptation has its price.,Based on Evelyn Waugh's 1945 classic British n...,133,Drama|Romance,BBC Films|Ecosse Films|HanWay Films|UK Film Co...,7/25/2008,6.0,2008
450,tt1172991,15000000,4882577,The Company Men,Ben Affleck|Tommy Lee Jones|Chris Cooper|Kevin...,John Wells,"In America, we give our lives to our jobs. It'...",Bobby Walker is living the proverbial American...,104,Drama,Spring Creek Productions|Battle Mountain Films,10/21/2010,6.4,2010
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
1034,tt1430626,60000000,118338361,The Pirates! In an Adventure with Scientists!,Hugh Grant|Brendan Gleeson|Jeremy Piven|Brian ...,Peter Lord|Jeff Newitt,It's A Plunderful Life,"In The Pirates! Band of Misfits, Hugh Grant st...",88,Animation|Adventure|Family|Comedy,Columbia Pictures|Aardman Animations|Sony Pict...,3/12/2012,6.4,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [92]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = (data['revenue']- data['budget'])#добавляем столбец "прибыль"

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [93]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) '
# если ответили верно, можете добавить комментарий со значком "+"

In [94]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()] #выбираем строку, значение бюджета которой равно максимальному

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [95]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [96]:

data[data['runtime'] == data['runtime'].max()]#выбираем строку с максимальной длительностью фильма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [97]:
answers['3'] = 'Winnie the Pooh'

In [98]:

data[data['runtime'] == data['runtime'].min()]#выбираем строку с минимальной длительностью фильма

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [99]:
answers['4'] = '110'

In [100]:
data['runtime'].mean()#рассчитываем среднюю длительность фильма

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [101]:
answers['5'] = '107'

In [102]:

data['runtime'].median()#рассчитываем медианное значение длительности фильма

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [103]:
answers['6'] = 'Avatar'

In [104]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data[data['profit'] == data['profit'].max()] #выбираем строку, в которой прибыль равна максимальной

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [105]:
answers['7'] = 'The Lone Ranger'

In [106]:
data[data['profit'] == data['profit'].min()]#выбираем строку, в которой прибыль равна минимальной

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [107]:

answers['8'] = '1478'

In [108]:
profitable = data[data['profit']>0] #делаем срез из прибыльных фильмов
len(profitable.index)# определяем количество строк в срезе

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [109]:
answers['9'] = 'The Dark Knight'

In [110]:
data_2008 = data[data['release_year']== 2008] #делаем срез из фильмов 2008 г
data_2008[data_2008['profit'] == data_2008['profit'].max()] #выбираем из него строку с максимальным значением сборов

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [111]:
answers['10'] = 'The Lone Ranger'

In [112]:
data_2012_2014 = data[((data['release_year']> 2011) & (data['release_year']<2015)) ]#делаем срез с фильмами 2012-2014гг
data_2012_2014[data_2012_2014['profit'] == data_2012_2014['profit'].min()]#выбираем из него строку с минимальным значением прибыли

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [113]:
answers['11'] = 'Drama'

In [114]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
def stringtolist(string):
    result = string.str.split('|')
    return result #функция для вычления отдельных жанров из каждой строки
data['genrelist']= stringtolist(data['genres'])
Counter(data['genrelist'].sum()).most_common(1) #определяем самый часто встречающийся жанр

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [115]:
answers['12'] = 'Drama'

In [116]:
profitable = data[data['profit']>0]#делаем срез с прибыльными фильмами

Counter(profitable.genres.str.split('|').sum()).most_common(1)#определяем наиболее встречающийся жанр

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [123]:
answers['13'] = 'Peter Jackson'

In [117]:
data_13 = data.copy()
data_13['directorlist'] = data_13.director.str.split('|')# разделяем имена режиссеров
data_13 = data_13.explode('directorlist')#трансформируем датасет, чтобы каждому режиссеру соответствовал фильм
data_13.groupby(['directorlist'])['revenue'].sum().sort_values(ascending=False)#группируем данные так, 
#чтобы каждому режиссеру соответствовал суммарный сбор

directorlist
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [122]:

answers['14'] = 'Robert Rodriguez'

In [118]:
data_14 = data.copy()
data_14['genrelist'] = data_14.genres.str.split('|')
data_14 = data_14.explode('genrelist')
data_14['directorlist'] = data_14.director.str.split('|')
data_14 = data_14.explode('directorlist')

films_Action = data_14[data_14['genrelist'] =='Action']#делаем срез с фильмами жанра Action
films_Action.groupby(['directorlist'])['imdb_id'].count().sort_values(ascending=False) # группируем данные таким образом,
#чтобы каждому режиссеру соответствовало количество снятых их фильмов

directorlist
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [121]:
answers['15'] = 'Chris Hemsworth'

In [119]:
data_15 = data.copy()
data_15['actorlist'] = data_15.cast.str.split('|')
data_15 = data_15.explode('actorlist')
films_2012 = data_15[data_15['release_year'] == 2012]
films_2012['actorlist'] = films_2012.cast.str.split('|')
films_2012 = films_2012.explode('actorlist')
data2 = films_2012.groupby(
        ['actorlist'])['revenue'].max().sort_values(ascending=False)
data2.head(5)

<ipython-input-119-9a4a55521768>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_2012['actorlist'] = films_2012.cast.str.split('|')

actorlist
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [120]:

answers['16'] = 'Matt Damon'

In [124]:
data_16 = data.copy()
data_16['actorlist'] = data_16.cast.str.split('|')
data_16 = data_16.explode('actorlist')
high_budget_films = data_16[(data_16['budget'] > data_16['budget'].mean())]
data3 = high_budget_films.groupby(
        ['actorlist'])['imdb_id'].count().sort_values(ascending=False)
data3.head()

actorlist
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [125]:
answers['17'] = 'Action'

In [126]:
data_17 = data.copy()
data_17['genrelist'] = data_17.genres.str.split('|')
data_17 = data_17.explode('genrelist')
data_17['actorlist'] = data_17.cast.str.split('|')
data_17 = data_17.explode('actorlist')
films_with_Nic = data_17[data_17['actorlist'] == 'Nicolas Cage']
Counter(films_with_Nic.genres.str.split('|').sum()).most_common(3)

[('Action', 61), ('Thriller', 49), ('Drama', 41)]

# 18. Самый убыточный фильм от Paramount Pictures

In [127]:
answers['18'] = 'K-19: The Widowmaker'

In [128]:
data_18 = data.copy()
data_18['companies_list'] = data_18.production_companies.str.split('|')
data_18 = data_18.explode('companies_list')

films_by_Paramount = data_18[data_18['companies_list'] == 'Paramount Pictures']
Param_fail = films_by_Paramount[(films_by_Paramount['profit'] == films_by_Paramount['profit'].min())]
display(Param_fail)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,companies_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]",Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [129]:

answers['19'] = '2015'

In [23]:

data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    1437371386905
2014    1354344776760
2009    1297755960290
2013    1174332738815
2011    1133815920340
2012    1114086722105
2007    1088090688915
2010    1080134225664
2004    1010224589406
2008     945680162620
2005     855291375920
2003     823240316125
2006     751767241330
2001     729891635230
2002     669701285365
2000     435511651944
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [130]:
answers['20'] = '2014'

In [132]:
data_20 = data.copy()
data_20['companies_list'] = data_20.production_companies.str.split('|')
data_20 = data_20.explode('companies_list')
films_by_Warner = data_20[data_20.companies_list.str.contains('Warner Bros')]
films_by_Warner.head()
films_by_Warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [149]:
answers['21'] = 'сентябрь'

In [133]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month#делаем столбец со значением номера месяца, в которов выпущен фильм
data.groupby(['month'])['imdb_id'].count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [134]:
answers['22'] = '450'

In [135]:
data_summer = data[data['month'].isin([6,7,8])]#делаем срез с фильмами, выпущенными летом
data_summer['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [136]:
answers['23'] = 'Peter Jackson'

In [137]:
data_winter = data[data['month'].isin([1,2,12])]
data_winter['directorlist'] = data_winter.director.str.split('|')
data_winter = data_winter.explode('directorlist')
data_winter['directorlist'].value_counts().sort_values(ascending=False)

<ipython-input-137-c15eb17880f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_winter['directorlist'] = data_winter.director.str.split('|')

Peter Jackson          7
Steven Soderbergh      6
Clint Eastwood         6
Adam Shankman          4
Martin Scorsese        4
                      ..
Benny Chan             1
Richard LaGravenese    1
Justin Lin             1
Richard Loncraine      1
Jonathan Levine        1
Name: directorlist, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [139]:
answers['24'] = 'Four By Two Productions'

In [138]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
companies = data['production_companies'].str.split('|').explode().unique()
sum_gen = pd.Series(dtype='float64',index=companies)
for comp in companies:
    sum_gen[comp] = data['title_length'][data['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_gen.sort_values(ascending=False).head()

Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [140]:
answers['25'] = 'Midnight Picture Show'

In [141]:
data_25 = data.copy()
data_25['overview_lenth']=data_25['overview'].str.split(' ').str.len()
data_25['companies_list'] = data_25.production_companies.str.split('|')
data_25 = data_25.explode('companies_list')
data_25.groupby(['companies_list'])['overview_lenth'].mean().sort_values(ascending=False)

companies_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_lenth, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [142]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [151]:
data_26 = data['vote_average'].value_counts(bins = 50)
data.loc[(data['vote_average'] > data_26.index.max().left) & (data['vote_average'] <= data_26.index.max().right)] #определяем
#строку, значения рейтинга в которой находится в диапазоне, соответствующему 1% лучших

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genrelist,month,title_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",7,15

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [145]:
answers['27'] = 'Daniel Radclif, Rupert Grint'

In [146]:
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(itertools.combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

ВАРИАНТ 2

# Submission

In [147]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) ',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '16': 'Matt Damon',
 '15': 'Chris Hemsworth',
 '14': 'Robert Rodriguez',
 '13': 'Peter Jackson',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radclif, Rupert Grint'}

In [150]:
# и убедиться что ни чего не пропустил)
len(answers)

27